body {
    background: rgba(182, 224, 222, 0.314);
}

.gallery {}

.testomony {
    margin: 50px auto;
    padding: 80px;
    background: rgba(182, 224, 222, 0.314);
    /* border-radius: 15px; */
    /* box-shadow: 1px 1px 2px black; */
}

.testomony .card {
    border-radius: 15px;
    box-shadow: 1px 1px 2px black;
}